<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.PostgreSQLDialect
        </property>
        <property name="connection.url">
            jdbc:postgresql://127.0.0.1:5432/employee
        </property>
        <property name="connection.driver_class">
            org.postgresql.Driver
        </property>
        <property name="connection.username">
            postgres
        </property>
        <property name="connection.password">
            1001
        </property>
        <mapping class="Model.Employee"/>
        <mapping class="Model.Message"/>
        <mapping class="Model.Book"/>
        <mapping class="Model.TranslateWord"/>
        <mapping class="Model.Company"/>
        <mapping class="Model.Student"/>
        <mapping class="Model.StudentAddress"/>
    </session-factory>
</hibernate-configuration>
